<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
   <servlet>
    <servlet-name>HowMProxy</servlet-name>
    <servlet-class>com.howmake.server.HowMProxyImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>HowMProxy</servlet-name>
    <url-pattern>/unogwt/HowMProxy</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>HowMDownload</servlet-name>
    <servlet-class>com.howmake.server.NIO.remote.HowMDonwloadFile</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>HowMDownload</servlet-name>
    <url-pattern>/unogwt/HowMDownload</url-pattern>
  </servlet-mapping>  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>UnoGWT.html</welcome-file>
  </welcome-file-list>

</web-app>
